@font-face{
    font-family: 'PT Sans', sans-serif;
}
*{
    font-family: 'PT Sans', sans-serif; 
}

/* header section  */
header{
    background-color: yellow;
    padding: 10px 0;
}
.menu ul li a{
    font-weight: 700;
    font-size: 22px;
    color: #010101;
    padding: 0 40px;
}
.slider{
    background-color: yellow;
}
.inspire{
    padding: 40px 0;
}
.inspire h1{
    margin: 20px 0;
}
.inspire ul li i{
    font-size: 42px;
    padding: 0 10px;
}